@import "../var";
@import "../mixin";

.company_details_bg {
    background: #F8F8F8;

    .company_details_container {
        padding: 3rem 3rem;
        @include flexprop(flex, column);

        .company_details_txt {
            h4 {
                @include fontprop(2.4rem, 500, $black-font);
                margin-bottom: 2rem;
            }

            p {
                @include fontprop(1.6rem, 300, $other-font-3);
                line-height: 2.2rem;
            }
        }

        .company_details_img {
            margin-top: 2rem;

            img {
                width: 100%;
                height: 240px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        // Responsive Style
        @media only screen and (min-width: 768px) {
            & {
                @include flexprop(flex, row);
                column-gap: 6rem;

                .company_details_txt {
                    flex: 55%;

                    h4 {
                        font-size: 3.3rem;
                    }

                    p {
                        font-size: 2rem;
                        line-height: 3rem;
                    }
                }

                .company_details_img {
                    flex: 20%;
                    margin-top: 6rem;
                    img {
                        height: 350px;
                    }
                }
            }
        }

        @media only screen and (min-width: 1200px) {
            & {
                padding: 4rem 0;
            }
        }
    }
}